<nb-card accent="success">
    <nb-card-header>Open orders</nb-card-header>
    <nb-card-body>
<h5><b>
<div class="row">
    <div class="col-md-4">
      Receiver
    </div>
    <div class="col-md-4">
        Sender
    </div>
    <div class="col-md-4">
        Amount
    </div>
</div>
</b></h5>
<a *ngFor="let item of transaction">
  <div class="row">
    <div class="col-md-4">
      {{item.toAddress}}
    </div>
    <div class="col-md-4">
      {{item.fromAddress}}
    </div>
    <div class="col-md-4">
      {{item.amount}}
    </div>
  </div>
</a>
</nb-card-body>
</nb-card>
